* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ededed;
    overscroll-behavior-y: none;
    position: relative;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* ====== HEADER ====== */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    cursor: pointer;
}

.container {
    max-width: 85%;
    margin: auto;
    background-color: #f5f5f5;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 25px;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    color: #808080;
    text-decoration: none;
    font-size: 17px;
    transition: color .3s;
    cursor: pointer;
}

.nav a:hover {
    font-weight: bold;
    color: #212121;
}

.btn-contact {
    background: #0C99EB;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background .3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 15px rgba(12, 153, 235, 0.35);
}

.btn-contact i {
    font-size: 20px;
}

.btn-contact:hover {
    background: #0A82C7;
    color: #f5f5f5;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: #0C99EB;
    cursor: pointer;
}

/* ====== OVERLAY MOBILE MENU ====== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #0C99EB;
    padding: 20px;
    transition: .3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-menu.active {
    left: 0;
}

.mobile-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 50px;
    cursor: pointer;
}

.mobile-menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu a:hover {
    font-weight: bold;
}

.mobile-menu .mobile-contact {
    margin-top: 20px;
    background: #f5f5f5;
    color: #0C99EB;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.7);
}

.mobile-contact i {
    font-size: 20px;
}

.mobile-contact:hover {
    background: #ededed;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: none;
    z-index: 1000;
}

.overlay.active {
    display: block;
}

/* ====== RESPONSIVE HEADER ====== */
@media (max-width: 768px) {
    .nav,
    .btn-contact {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}


/* ====== COVER ====== */
.cover {
    width: 100%;
    height: 60vh;
    background-color: #0C99EB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    gap: 20px;
    position: absolute;
    margin-top: 50px;
}

.cover-content a {
    margin: 10px;
    color: #f5f5f5;
    font-size: 15px;
}

.cover-content h1 {
    font-size: 50px;
}

.cover-content h5 {
    cursor: pointer;
}

.cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../image/cover.png");
    object-fit: cover;
    background-size: cover;
}


/* ====== RUNNING TEXT ====== */
.marquee {
    width: 100%;
    overflow: hidden;
    background: #212121;
    font-size: 17px;
    color: #fff;
    padding: 4px 0;
}

.marquee__inner {
    display: flex;
    width: max-content;
    animation: marquee 15s linear infinite;
}

.marquee__inner span {
    white-space: nowrap;
    padding-right: 50px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


/* ====== CONTACT ====== */
.contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}

.contact-tittle h1 {
    font-size: 30px;
    color: #212121;
}

.contact-tittle p {
    font-size: 18px;
}

.contact-sosmed {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.contact-card {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.07);
    margin-bottom: 50px;
}

.contact-card a {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #808080;
    gap: 10px;
}

.contact-card:hover {
    transition: transform .3s ease;
    transform: scale(1.02);
    border: 1px solid #0C99EB;
}

.contact-card i {
    width: 70px;
    height: 70px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #0A82C7;
    color: #f5f5f5;
}

.contact-card h3 {
    margin-top: 25px;
    font-size: 20px;
    color: #212121;
}

.contact-card p {
    font-size: 17px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.form-tittle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px
}

.form-tittle h1 {
    font-size: 30px;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 50px;
}

label {
    font-size: 17px;
    padding: 2px;
}

input {
    width: 100%;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #0C99EB;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    border: 1px solid #0C99EB;
}

input.error, textarea.error {
    border: 2px solid #ff4b4b;
    background: #fabcbc;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    background-color: #0C99EB;
    color: #f5f5f5;
    font-size: 17px;
}

button:hover {
    background-color: #0A82C7;
}

/* ====== RESPONSIVE CONTACT ====== */
@media (max-width: 900px) {
    .contact-tittle p {
        width: 80%;
        line-height: 20px;
        font-size: 15px;
        text-align: center;
    }

    .contact-sosmed {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}


/* ====== FAQs ====== */
.faq {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
}

.faq-tittle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.faq-tittle h1 {
    font-size: 30px;
    color: #212121;
}

.faq-tittle p {
    font-size: 18px;
}

.faq-content {
    width: 100%;
}

.faq-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

.faq-content {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.faq-container {
    width: 45%;
    background-color: #f5f5f5;
}

.faq-container h3 {
    color: #0C99EB;
}

.arrow {
    width: 16px;
    height: 16px;
    position: relative;
    transition: transform 0.3s ease;
}

.arrow::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
}

.faq-item.active .arrow {
    transform: rotate(90deg);
}

.faq-answer {
    display: none;
    padding: 0 15px 15px 43px;
    color: #555;
    line-height: 1.6;
}

/* ====== RESPONSIVE FAQs ====== */
@media (max-width: 900px) {
    .faq-tittle {
        width: 80%;
        margin-bottom: 50px;
    }

    .faq-tittle p {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faq-container {
        width: 90%;
        margin: 15px;
    }
}


/* ====== FOOTER ====== */
.footer {
    width: 100%;
    background: #1b1b1b;
    color: #ddd;
    padding: 40px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 20px;
}

.footer-p {
    text-align: justify;
}

.footer-section h2,
.footer-section h3 {
    color: white;
    margin-bottom: 12px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    max-width: 300px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 6px 0;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}

/* ====== RESPONSIVE FOOTER ====== */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section p {
        max-width: 100%;
    }
}