* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ededed;
    overscroll-behavior-y: none;
    position: relative;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* ====== HEADER ====== */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    cursor: pointer;
}

.container {
    max-width: 85%;
    margin: auto;
    background-color: #f5f5f5;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 25px;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    color: #808080;
    text-decoration: none;
    font-size: 17px;
    transition: color .3s;
    cursor: pointer;
}

.nav a:hover {
    font-weight: bold;
    color: #212121;
}

.btn-contact {
    background: #0C99EB;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background .3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 15px rgba(12, 153, 235, 0.35);
}

.btn-contact i {
    font-size: 20px;
}

.btn-contact:hover {
    background: #0A82C7;
    color: #f5f5f5;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: #0C99EB;
    cursor: pointer;
}

/* ====== OVERLAY MOBILE MENU ====== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #0C99EB;
    padding: 20px;
    transition: .3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-menu.active {
    left: 0;
}

.mobile-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 50px;
    cursor: pointer;
}

.mobile-menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu a:hover {
    font-weight: bold;
}

.mobile-menu .mobile-contact {
    margin-top: 20px;
    background: #f5f5f5;
    color: #0C99EB;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.7);
}

.mobile-contact i {
    font-size: 20px;
}

.mobile-contact:hover {
    background: #ededed;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: none;
    z-index: 1000;
}

.overlay.active {
    display: block;
}

/* ====== RESPONSIVE HEADER ====== */
@media (max-width: 768px) {
    .nav,
    .btn-contact {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}


/* ====== COVER ====== */
.cover {
    width: 100%;
    height: 60vh;
    background-color: #0C99EB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    gap: 20px;
    position: absolute;
    margin-top: 50px;
}

.cover-content a {
    margin: 10px;
    color: #f5f5f5;
    font-size: 15px;
}

.cover-content h1 {
    font-size: 50px;
}

.cover-content h5 {
    cursor: pointer;
}

.cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../image/cover.png");
    object-fit: cover;
    background-size: cover;
}


/* ====== BLOG ====== */
.blog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-tittle h1 {
    font-size: 30px;
    margin-top: 50px;
    color: #212121;
}

.tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    gap: 15px;
}

.tabs-btn {
    width: auto;
    padding: 10px 15px;
    font-size: 18px;
    color: #333;
    border: 2px solid #1b1b1b;
    border-radius: 100px;
    cursor: pointer;
}

.tabs-btn.active {
    color: #f5f5f5;
    background: #0C99EB;
}

.tabs-btn.active,
.tabs-btn:hover {
    color: #f5f5f5;
    background: #0C99EB;
}

.blog-content {
    width: 100%;
    display: none !important;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  
    justify-items: center;
}

.blog-content.active {
    width: 100%;
    display: block !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 10px;
}

.blog-card {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    padding-bottom: 20px;
}

.blog-card:hover {
    transition: transform .3s ease;
    transform: scale(1.02);
}

.blog-card img {
    width: 100%;
    object-fit: cover;
}

.blog-card h1 {
    font-size: 20px;
    line-height: 25px;
    margin: 15px;
    font-weight: bold;
    color: #212121;
    cursor: pointer;
}

.blog-card h1:hover {
    text-decoration: underline;
}

.blog-card p {
    font-size: 15px;
    color: #808080;
    text-align: justify;
    line-height: 20px;
    margin: 0 15px 10px 15px;
}

.blog-card .date {
    display: block;
    margin: 0 15px 15px 15px;
    font-size: 14px;
    color: #808080;
}

.read-btn {
    display: inline-block;
    margin-left: 15px;
    padding: 8px 18px;
    background: #0C99EB;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
}

.read-btn:hover {
    background: #0A82C7;
}

/* ====== RESPONSIVE BLOG ====== */
@media (max-width: 900px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }
}


/* ====== FOOTER ====== */
.footer {
    width: 100%;
    background: #1b1b1b;
    color: #ddd;
    padding: 40px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 20px;
}

.footer-section h2,
.footer-section h3 {
    color: white;
    margin-bottom: 12px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    max-width: 300px;
}

.footer-p {
    text-align: justify;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 6px 0;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}

/* ====== RESPONSIVE FOOTER ====== */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section p {
        max-width: 100%;
    }
}